html {
  background-color: #a7cad8;
}

p,
#welcome-message {
    color: rgb(0, 4, 255);
    width: 500px;
    border: 1px solid black;
}
#Ozden-header-container {
    color: red;
  }

  body {
    width: 100%;
    margin: 0 auto;
    background-color:#ff9500;
    padding: 0 40px 40px 40px;
    border: 2px solid black;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  }

  img {
    display: block;
    margin: 0 auto;
    max-width:100%;
  }


