html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Almarai", sans-serif;
}

.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Almarai', Arial, sans-serif; /* Default Arabic font */
}

[lang="en"], .english-section {
  font-family: 'Roboto', Arial, sans-serif; /* English font for English sections */
}

a {
  padding: 50px;
}
